POSTGRES_USER=payment_user
POSTGRES_PASSWORD=payment_pass
POSTGRES_DB=payments
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}

RABBITMQ_USER=payment_user
RABBITMQ_PASS=payment_pass